#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img{
  display: block;
  max-width: 25%;
}

table {
  width: 100%;
  border-collapse: collapse;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.3);
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.3);  
  
}
th {
  text-align: left;
  border-bottom: 3px solid hsl(0deg 0% 25%);
}
tr:not(:last-of-type) td {
  border-bottom: 1px solid hsl(0deg 0% 50%);
}

.cart{
  --image-width: 150px;
  margin-bottom: 2rem;
}
.cart-row td {
  padding: 8px 0px;
}
.cart-row td:first-of-type {
  width: var(--image-width);
}

.product {
  width: var(--image-width);
}
